.checkout{
    display: flex;
    background-color: rgb(224, 224, 224);
    height: max-content;
    padding: 20px;
}

.checkout--left{
      background-color: white;
}

.checkout--adv{
    width: 100%;
    margin-bottom: 10px;
}
.checkout--title{
    border-bottom: 1px solid black;
    padding: 10px;
}

